<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content= "Site de prestation en ligne Jobby">
    <link rel="stylesheet" href="../css/categories.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani|Secular+One" rel="stylesheet">
    <title>Jobby</title>
    <script src="./mesjsclients/menu-client.js"></script>

<script src="./mesjsclients/categorie-client.js"></script>
</head>
<body onload="entryPoint();entryPointMenu();">
    <main class="main-container">
        <section class="menu-box">
            <div class="title-box">
                <h1 class="logo">
                <a href="./home.html" class="titlepage">JOBBY</a>
                </h1>
            </div>
            <div class="menu-items">
               
            </div>
        </section>
        <section class="main-img">
        </section>
         <section class="categories-box">
        </section>
</main>
</body>
</html>