<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content= "Site de prestation en ligne Jobby">
    <link rel="stylesheet" href="../css/formular.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    <title>Jobby</title>
</head>
<body>
<main class="main-container">
        <section class="menu-box">
            <div class="title-box">
                 <h1 class="logo">
                    <a href="./home.html" class="blueviolet">JOBBY</a>    
                 </h1>
            </div>
            <div class="menu-items">
                <a href="">Enregistrement</a>
                <a href="">Connexion</a>
                <a href="">À Propos</a>
                <a href="">Contact</a>
            </div class="menu-items">
        </section>
        <section>
            <h2>Quelques questions pour affiner votre demande</h2>
        </section>
        <section class="questions-container">
           <form action="">
        <section class=question-box>
                <h3>Dans quel état est l'équipement à réparer ?</h3>
                <label for="repairQuestions">Hors-service</label>
                <input type="radio" value="outOfOrder" name="repairQuestions"> 
                <label for="repairQuestions">Très défectueux</label>
                <input type="radio" value="veryDamaged" name="repairQuestions">
                <label for="repairQuestions">Un peu défectueux</label>
                <input type="radio" value="aBitDamaged" name="repairQuestions">
        </section>
        <section>
                <input class="input-submit" type="submit" value="Soumettre le formulaire">
        </section>
            </form>
        </section>
</main>
</body>
</html>
