<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content= "Site de prestation en ligne Jobby">
    <link rel="stylesheet" href="../css/home.css">
   <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani|Secular+One" rel="stylesheet"> 
   <script src="./mesjsclients/menu-client.js"></script>
   <script src="./mesjsclients/mesFlags.js"></script>
   <script >{"monApiFlags":"{{flags}}"}</script>

   <link href="/flags/css/flag-icon.min.css" rel="stylesheet"> 
   <style>
   .sticky {
       position:fixed;
       bottom:0;
   }
   </style>
   <title>Jobby</title>
</head>
<body onload="entryPointMenu();entryPointFlag()"> 

        <!-- Boîte principale contenant les autres boites de la page--> 
    <main class="main-container">

            <section id="mesFlags">
        
                </section>
               
        <!-- Barre menu du haut avec le titre, se connecter,contact etc...--> 
        <section class="menu-box">
           <!-- NAmepage JOBBY en haut à gauche --> 
            <div class="title-box">
                <h1 class="logo">
                    <a href="./home.html" class="titlepage">JOBBY</a>  
                </h1>
            </div>
           <!-- Menu clickable en haut a droite --> 
           <div class="menu-items">

           </div>
        </section>
       <!-- Phrase d'accroches au milieu de la page--> 
        <section class="catch-phrases-box">
            <p> SIMPLE </p>
            <p> PRÉCIS </p>
            <p> EFFICACE </p>
        </section>
      <!-- Bouton RENDEZ VOUS SERVICE qui permet d'accéder aux différentes catégories--> 
        <section class="slogan-box">
            <a href= "./categories.html" class="slogan"> RENDEZ-VOUS SERVICE </a>
        </section>
             <video autoplay loop muted class="video-background" src="/video/slow-motion-hammer-and-nail.mp4">
             </video>
    </main>
</body>

</html>



