<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="Register">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    <title>JOBBY</title>
</head>
<body>
<main class= "main-container">
    <section class="menu-box">     
        <div class="title-box">
            <h1 class="logo">
                <a href="">JOBBY</a>
            </h1>
        </div> 
        <div class="menu-items">
            <a href="">Enregistrement</a>
            <a href="">Connexion</a>
            <a href="">À Propos</a>
            <a href="">Contact</a>
        </div> 
    </section>
    <section class="title-create-section">
         <h2 class="title-create">CONNECTEZ VOUS</h2>
    </section>
    <section class="element-two">
        <form>
    <section class="element"> 
        <div class="element-box">  
            <h4>PSEUDONYME</h4>
                <input type="text" name="pseudonyme">
        </div>
        <div class="element-box"> 
            <h4>MOT DE PASSE</h4>
                <input type="text" name="password">
        </div>
    <section class="submit-btn">
                <input type="submit" class="submit-big-btn">
    </section>
        </form>
</main>