*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    font-family: 'Mukta Vaani', sans-serif;
}

.menu-item{
    color:#BEB0A7
}





























